@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;500&display=swap');

body {
    font-family: 'Kanit', sans-serif;
}

.peta-div {
    background-color: aquamarine;
}

.custom-btn {
    width: 150px !important;
    background-color: rgb(87, 191, 231);
}

.custom-btn:hover {
    background-color: skyblue;
}

.chatbot-toggle {
    position: fixed;
    right: 40px;
    bottom: 35px;
    height: 50px;
    width: 50px;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    background: lime;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.chatbot-toggle span {
    position: absolute;
}

.show-chatbot .chatbot-toggle span:first-child, 
.chatbot-toggle span:last-child {
    opacity: 0;
}

.show-chatbot .chatbot-toggle span:last-child {
    opacity: 1;
}

.chatbot {
    background-color: white;
    position: fixed;
    bottom: 100px;
    right: 40px;
    width: 420px;
    transform: scale(0.5);
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.show-chatbot .chatbot {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
}

.chatbot header {
    background-color: rgb(8, 128, 8);
    padding: 16px 0;
    text-align: center;
}

.chatbot header span {
    position: absolute;
    right: 20px;
    top: 50%;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
    display: none;
}

.chatbot header h2 {
    color: white;
    font-size: 1.4rem;
}

.chatbot .chatbox {
    height: 510px;
    overflow-y: auto;
    padding: 30px 20px 70px;
}

.chatbox .chat {
    display: flex;
}

.chatbox .incoming span {
    height: 32px;
    width: 32px;
    color: white;
    background-color: lime;
    text-align: center;
    line-height: 32px;
    border-radius: 4px;
    margin: 0 10px 7px 0;
    align-self: flex-end;
}

.chatbox .outgoing {
    justify-content: flex-end;
    margin: 20px 0;
}

.chatbox .chat p {
    color: white;
    font-size: 0.95rem;
    border-radius: 10px 10px 0 10px;
    padding: 12px 16px;
    background-color: lime;
}

.chatbox .incoming p {
    color: black;
    background: silver;

}

.chatbot .chat-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    background-color: white;
    padding: 5px 20px;
    border-top: 1px solid silver;
}

.chat-input textarea {
    border: none;
    height: 55px;
    width: 100%;
    outline: none;
    font-size: 0.95rem;
    resize: none;
    padding: 16px 15px 16px 0;
}

.chat-input span {
    color: lime;
    font-size: 1.35rem;
    cursor: pointer;
    align-self: flex-end;
    color: lime;
    visibility: hidden;
    height: 55px;
    line-height: 55px;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media(max-width: 490px) {
    .chatbot {
        right: 0;
        top: 50px;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .chatbot .chatbox {
        height: 90%;
    }

    .chatbot header span {
        display: block;
    }
}